<h2 class="text-center">Sign In</h2>

<div class="auth-container">
    <div class="auth-form">
        <form action="" method = "post">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" id = "username" name = "username" required placeholder="enter username">
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id = "password" name = "password" required placeholder="enter password">
            </div>

            {{#if msg}}
                <p>{{msg}}</p>
            {{/if}}

            <button class = "button" type="submit">Sign In</button>

        </form>
    </div>
</div>